body {
	color: #535358;
}

h1, h2 {
	color: #2f313d;
	font-weight: bold;
}

h2 {
	margin-top: 50px;
}

a {
	color: #399391 !important;
}

.site-header {
	background-color: #3a506b;
	border-bottom: none;
	box-shadow: 0 0 10px 0px #1c2541aa;
}

.site-title {
	color: white !important;
}

.site-title:hover {
	text-decoration: none;
}

.page-link {
	color: white !important;
	padding: 14px 10px 14px 10px;
	border-radius: 10%;
}

.page-link:hover {
	background-color: #2d3e53;
	text-decoration: none;
}

.hero {
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 10rem;
}

.hero-title {
	margin-bottom: 3rem;
	color: #2f313d;
	font-weight: bold;
	line-height: 1.2;
	text-rendering: optimizeLegibility;
}

.hero-description {
	color: #535358;
}

.hero-avatar {
	margin-bottom: 3rem;
}

.avatar {
	display: inline-block;
	width: 130px;
	height: 130px;
	border: 4px solid #5bc0be;
	border-radius: 100%;
	box-shadow: 0 0 1px 11px #5bc0be55,
	0 0 1px 22px #3a506b11;
}

.post-excerpt {
	color: #535358 !important;
}

.post-list-heading {
	border-bottom: 1px solid #e8e8e8;
}

.post-li {
	border-left: 2px solid #e8e8e8;
	padding-left: 10px;
}

.highlighter-rouge, .highlighter-rouge .highlight, code {
	background-color: #323a45 !important;
}

pre, code {
	border: 1px solid #323a45;
}

code {
	color: #ecedeb;
}