---
layout: default
---

<div class="home">

  {{ content }}

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="hero" onload="typeWriter()">
    <p class="hero-avatar">
      <img class="avatar" src="{{site.baseurl}}/assets/images/authorimage.jpg" alt="Zetamek's profile picture">
    </p>
    <h2 class="hero-title">Hello!</h2>
    <p class="hero-description">
      I'm Gabriel, a Computer Science student who loves programming and is willing to share ideas and experiences
      about it :)
    </p>
  </div>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Latest articles" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit:5 -%}
      <li class="post-li">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          <span class="post-excerpt">{{ post.excerpt }}</span>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">Subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
